<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/icon-touch.png" class="img-thumbnail rounded-circle" alt="Adam Zullowa">
            <h1 class="display-4">Adam Zullowa</h1>
            <p class="lead">Coding Enthuitast | Programmer</p>
        </div>
    </div>
</div>